@import url("./reset.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&display=swap");
* {
  font-family: "Roboto", "Inter";
}
.flex {
  display: flex;
}
.aboutProduct {
  margin-top: 70px;
  position: relative;
  display: flex;
  background-color: #ffeaea;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120vh;
}
.aboutProduct__img {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  padding: 10px;
  margin: 0 50px 0 50px;
}
.imgProduct {
  height: 640px;
}
.aboutProduct__description {
  width: 40%;
  height: 80%;
  display: flex;
  flex-direction: column;
}
.description__categoryProduct {
  font-size: 40px;
  text-align: center;
  margin-bottom: 100px;
}
.param {
  margin-left: 20px;
  margin-top: 30px;
  font-size: 23px;
  color: #232323;
}
.description__span {
  font-size: 30px;
  color: #000;
  font-weight: 500;
}
.aboutProduct__actions {
  margin-top: 150px;
  align-items: center;
}
.actions__counterProduct {
  margin-left: 20px;
  align-items: center;
  justify-content: center;
  width: 125px;
  height: 52px;
  background-color: #fff;
  border: 1px solid #000;
}
.counterProduct__total {
  margin: 0 30px 0 30px;
  font-size: 22px;
  font-weight: 500;
}
.action {
  cursor: pointer;
  font-weight: 500;
  font-size: 30px;
}
.actions__buy {
  margin-left: 20px;
  font-size: 22px;
  color: #fff;
  width: 150px;
  height: 52px;
  background-color: #fe4c70;
}
.actions__quickOrder {
  margin-left: 20px;
  font-size: 22px;
  color: #fff;
  width: 150px;
  height: 52px;
  background-color: #ff3b3b;
}
.actions__buy:hover,
.actions__quickOrder:hover {
  transition: 0.3s;
  background-color: #fff;
  border: 1px solid #fe4c70;
  color: #fe4c70;
}
.aboutProduct__arrow {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  width: 45px;
  height: 45px;
  transform: rotate(-90deg);
}
